@page "/"

<section class="landing-page">
    <h1 class="fs-bold text-white text-uppercase">dansk akvakultur</h1>
    <h2 class="fs-normal text-white text-uppercase">opdræt af fisk, skaldyr, tang og foder i international topklasse.</h2>
</section>

<section class="footer">
    <div class="shadow p-3 mb-4 rounded">
        <ButtonNavigation BtnText="Gå til Virtuel Simulation" Url="/virtual-simulation" />
    </div>
</section>