@page "/my-game"

@implements IAsyncDisposable

<div>
    <p>
        Errors:
    </p>
    <p>
        @message
    </p>
</div>

<div class="webgl-content">
    <div id="@containerCssClass" style="width: 960px; height: 600px"></div>
    <div class="footer">
        <div class="webgl-logo"></div>
        <div class="fullscreen" @onclick="async () => await SetFullscreen(1)"></div>
        <div class="title">Project_Boost</div>
    </div>

    <div id="loadingBox">
        <div id="bgBar"></div>
        <div id="progressBar"></div>
        <p id="loadingInfo">Loading...</p>
    </div>
</div>

@code {
    [Inject] IJSRuntime JS { get; set; }
    string containerCssClass = "unityContainer";
    string webGLBuildUrl = "libs/MyGame/Build/game proto.json";
    string message;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                await JS.InvokeVoidAsync("initializeUnityInstance", containerCssClass, webGLBuildUrl);
            }
            catch (Exception ex)
            {
                message = ex.Message;
            }
        }
    }

    private async Task SetFullscreen(int isFullscreen)
    {
        await JS.InvokeVoidAsync("setFullscreen", isFullscreen);
    }

    public async ValueTask DisposeAsync()
    {
        await JS.InvokeVoidAsync("disposeUnityInstance");
    }
}
