<nav class="navbar navbar-light bg-white">
    <div class="container-fluid">
        <div class="shadow rounded">
            <ButtonNavigation BtnText="Gå til Forside" Url="/" />
        </div>
    </div>
</nav>
